.today-card{
    width: 90%;
    max-width: 800px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 45px auto 0;
    border-radius: 5px;
    padding: 40px 35px;
    text-align: center;
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-bar input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    flex: 2;
    border-radius: 5px;
    margin-right: 16px;
    font-size: 18px;
}
.search-bar button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.error-txt{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid rgba(255, 0, 0, 0.534);
    color: rgb(247, 244, 244);
    background-color: rgb(255, 146, 146);
}
.search-bar button img{
    width: 30px;
}
.weather-info .weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather-info h1{
    font-size: 80px;
    font-weight: 500;
}
.main-weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: 20px;
}
.weather-descript {
    font-size: 25px;
    font-weight: 500;
}
.sub-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 41px;
    padding: 28px;
    border-radius: 5px;
    background-color: #00000080;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.col .humidity, .col .wind, .col .precipitation{
    font-size: 28px;
    margin-top: -6px;
}

@media only screen and (max-width: 860px){
    .search-bar input{
        height: 40px;
        font-size: 17px;
    }
    .search-bar button{
        width: 40px;
        height: 40px;
    }
    .search-bar button img{
        width: 20px;
    }
}
@media only screen and (max-width: 650px){
    .today-card{
        padding: 31px 25px;
        margin: 30px auto 0;
    }
    .sub-info{
        padding: 14px;
        margin-top: 41px;
    }
    .col img{
        width: 30px;
        margin-right: 10px;
    }
    .col .humidity, .col .wind, .col .precipitation{
        font-size: 20px;
        margin-top: 0px;
    }

}
@media only screen and (max-width: 560px){
    .col{
        flex-direction: column;
        text-align: center;
    }
    .col img{
        margin: 10px;
    }
    .col .humidity, .col .wind, .col .precipitation{
        font-size: 17px;
    }
    .col p{
        font-size: 15px;
    }
}
@media only screen and (max-width: 460px){
    .today-card{
        width: 100%;
        background: none;
        color: #fff;
        margin: 0;
        border-radius: 0;
        padding: 20px 0 0;
    }
    .search-bar{
        justify-content: space-evenly;
    }
    .search-bar input {
        height: 30px;
        padding: 6px 10px;
        margin-right: 11px;
        font-size: 13px;
        flex: 0;
    }
    .search-bar button{
        width: 30px;
        height: 30px;
    }
    .search-bar button img{
        width: 16px;
    }
    .main-weather h2{
        font-size: 35px;
        margin-top: 17px;
    }
    .weather-descript {
        font-size: 21px;
    }
    .weather-info{
        height: 85vh;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .weather-info .weather-icon {
        width: 134px;
        margin-top: -4px;
    }
    .weather-info h1 {
        font-size: 61px;
    }
    .sub-info {
        width: 100%;
        margin-top: 8px;
    }
    .col{
        flex-direction: column;
        text-align: center;
    }
    .col img{
        margin: 10px;
    }
    .col .humidity, .col .wind, .col .precipitation{
        font-size: 15px;
    }
    .col p{
        font-size: 13px;
    }
}