.today-card{
    width: 100%;
    max-width: 800px;
    background: linear-gradient(135deg, #161818, #227fa7);
    color: #fff;
    margin: 45px 22px 45px 45px;
    border-radius: 5px;
    padding: 40px 35px;
    text-align: center;
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-bar input{
    border: 1px solid #35d4e38a;
    outline: 0;
    background: #03272c54;
    color: rgb(217 249 255);
    padding: 10px 25px;
    height: 40px;
    flex: 1;
    border-radius: 5px;
    margin-right: 16px;
    font-size: 18px;
}
.search-bar input:focus{
    border: 1px solid #35d4e3e0;;
}
input::placeholder{
    color: #35d4e3bd;
}

.search-bar button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #35d4e38a;
    outline: 0;
    background: #03272c54;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.search-bar input:focus ~ button{
    border: 1px solid #35d4e3e0;;
}
.error-txt{
    margin: 10px 20px;
    padding: 10px;
    color: rgb(147 1 1);
    border-radius: 3px;
    background-color: rgb(245 176 176 / 96%);
}
.search-bar button img{
    width: 20px;
    filter: invert(1);
}
.weather-info .weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather-info h1{
    font-size: 80px;
    font-weight: 500;
}
.main-weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: 20px;
}
.weather-descript {
    font-size: 25px;
    font-weight: 500;
}
.sub-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 41px;
    padding: 28px;
    border-radius: 5px;
    background-color: #00000080;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.col .humidity, .col .wind, .col .precipitation{
    font-size: 28px;
    margin-top: -6px;
}
.sub-info-wrapper{
    text-align: center;
}




@media only screen and (max-width: 1415px){
    .col{
        flex-direction: column;
        text-align: center;
    }
    .col img {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 1170px){
    .today-card{
        margin: 45px 45px 22px 45px;
        width: 90%;
    }
    .col{
        flex-direction: row;
    }
    .col img{
        margin-right: 10px;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 630px){
    .today-card{
        padding: 31px 25px;
        margin: 30px auto 0;
    }
    .sub-info{
        padding: 14px;
        margin-top: 41px;
    }
    .col img{
        width: 30px;
    }
    .col .humidity, .col .wind, .col .precipitation{
        font-size: 20px;
        margin-top: 0px;
    }

}
@media only screen and (max-width: 560px){
    .today-card{
        width: 100%;
        background: none;
        margin: 0;
        border-radius: 0;
        padding: 20px 0 0;
    }
    .search-bar input {
        height: 30px;
        padding: 6px 10px;
        margin-right: 11px;
        font-size: 13px;
        margin-left: 23px;
    }
    .search-bar button{
        margin-right: 20px;
        min-width: 30px;
        height: 30px;
    }
    .search-bar button img{
        width: 16px;
    }
    .main-weather h2{
        font-size: 35px;
        margin-top: 17px;
    }
    .weather-descript {
        font-size: 21px;
    }
    .weather-info{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .weather-info .weather-icon {
        width: 134px;
    }
    .weather-info h1 {
        font-size: 61px;
    }
    .sub-info {
        width: 90%;
        margin-top: 8px;
    }
    .col{
        flex-direction: column;
    }
    .col img{
        margin: 10px;
    }
    .col .humidity, .col .wind, .col .precipitation{
        font-size: 15px;
    }
    .col p{
        font-size: 13px;
    }
}

