.login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-wrapper{
    background: #00000052;
    color: #fff;
    border-radius: 5px;
    padding: 15px 26px;
}
.login-wrapper h2{
    color: #ebebebd4;
}
hr{
    margin-bottom: 10px;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    background: none;
    border: 1px solid #2cafcb;
    padding: 7px 15px;
    border-radius: 2px;
    margin-bottom: 5px;
    color: white;
}
input:focus{
    outline: none;
}
input[type='submit']{
    color: white;
    margin-top: 10px;
    cursor: pointer;
    background: none;
}
input[type='submit']:hover{
    background: linear-gradient(84deg, #2ac1db, #0a375c);
    border: none;
}
.err{
    border: none;
    padding: 7px 15px;
    border-radius: 2px;
    margin-bottom: 5px;
    background: #e7a7a7;
    color: #760707;
    border: 1px solid #760707
}