.forecast{
    width: 100%;
    max-width: 800px;
    background: linear-gradient(135deg, #161818, #227fa7);
    color: #fff;
    margin: 45px 45px 45px 22px;
    border-radius: 5px;
    padding: 40px 35px;
}
.forecast h4{
    font-size: 25px;
    color: #2cb9d9;
}
.forecast hr{
    margin: 5px 0;
    border: 1px solid #89989b;
}

.forecast .row{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--themeColor);
    border-radius: 10px;
    padding: 32px;
}
.forecast .row .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    text-align: center;
    padding: 10px;
    background: #00000080;
    min-width: 107px;
    margin: 10px;
}
.forecast .row .card h4{
    font-size: 18px;
}
.forecast .row .card img{
    width: 55px;
}
.veiw-more{
    padding: 5px;
    background: none;
    color: white;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 2px;
}
.veiw-more:hover{
    border: none;
    background: #5b548a;
}
@media only screen and (max-width: 1170px){
    .forecast{
        margin: 22px 45px 45px 45px;
        width: 90%;
    }
}
@media only screen and (max-width: 630px){
    .forecast{
        padding: 31px 25px;
    }
    .forecast .row{
        padding: 10px 1px;
    }
}

@media only screen and (max-width: 560px){
    .forecast{
        width: 100%;
        margin: 0;
        border-radius: 0;
        background: none;
    }
    .forecast .row{
        justify-content: space-between;
    }
    .forecast .row .card{
        min-width: auto;
    }
} 