@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
:root{
    --theme-color: linear-gradient(135deg, #161818, #227fa7);
}

body{
    background: #222;
}

@media only screen and (max-height: 645px){
    body{
        height: 100%;
    }
}
@media only screen and (max-width: 560px){
    body{
        background: var(--theme-color);
        background-repeat: no-repeat;
    }
}

